node_modules/
dist/
.env
.git
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
__pycache__/
*.swp
.DS_Store